<div class="loader-wrapper" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="post-page__wrapper" *ngIf="!isFormVisible && !isLoading">
  <div class="post-page__header">
    <h2 class="post-page__title">{{ post$?.title }}</h2>
    <div class="post-page__buttons-wrapper">
      <app-button text="EDIT" (handleClick)="toggleForm()"
        ><mat-icon>edit</mat-icon></app-button
      >
      <app-button text="DELETE" (handleClick)="toggleConfirmModal()">
        <mat-icon>delete</mat-icon>
      </app-button>
    </div>
  </div>
  <p class="post-page__content">{{ post$?.content }}</p>
  <p class="post-page__author">Author: {{ post$?.author }}</p>
  <span class="post-page__category-wrapper">
    {{ post$?.category }}
  </span>
</div>
<app-post-form
  (getPostData)="getPostData()"
  *ngIf="isFormVisible"
  [isEditing]="true"
  (toggleForm)="toggleForm()"
  [post]="post$"
></app-post-form>
<app-confirm-modal
  *ngIf="isDeleteModalVisible"
  (handleToggleModal)="toggleConfirmModal()"
  (handleDelete)="handleDelete()"
></app-confirm-modal>
