.post-page__wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1200px;
}

.post-page__title {
  font-size: 28px;
  color: var(--primary);
  margin-right: 20px;
}

.post-page__content {
  font-size: 14px;
  color: var(--primary);
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.8;
  text-align: justify;
}

.post-page__author {
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 20px;
}

.post-page__category-wrapper {
  padding: 5px 10px;
  background-color: var(--highlight);
  width: auto;
  border-radius: 30px;
  color: #ffffff;
  font-size: 14px;
}

.post-page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.post-page__buttons-wrapper {
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

@media (min-width: 768px) {
  .post-page__header {
    flex-direction: row;
    justify-content: space-between;
  }
  .post-page__buttons-wrapper {
    margin: 0;
  }
}
