* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

:root {
  /* COLORS */
  --primary: #3c4858;
  --secondary: #868686;
  --highlight: #e96656;
  /* COLORS */
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid var(--highlight);
}

.error-message {
  font-size: 10px;
  color: var(--highlight);
  margin-bottom: 10px;
}
