<div class="form__wrapper">
  <p class="font__header">{{ formTitle }}</p>
  <form class="form__form" (ngSubmit)="onSubmit(formData)" #formData="ngForm">
    <input
      class="form__input"
      name="title"
      placeholder="title"
      [ngModel]="post?.title"
      required
      minlength="6"
      #title="ngModel"
    />
    <p class="error-message" *ngIf="!title.valid && title.touched">
      Please insert valid value
    </p>
    <textarea
      class="form__textarea"
      name="content"
      placeholder="content"
      rows="8"
      [ngModel]="post?.content"
      required
      minlength="6"
      #content="ngModel"
    ></textarea>
    <p class="error-message" *ngIf="!content.valid && content.touched">
      Please insert valid value
    </p>
    <input
      class="form__input"
      name="category"
      placeholder="category"
      [ngModel]="post?.category"
      required
      #category="ngModel"
    />
    <p class="error-message" *ngIf="!category.valid && category.touched">
      Please insert valid value
    </p>
    <input
      class="form__input"
      name="author"
      placeholder="author"
      [ngModel]="post?.author"
      required
      #author="ngModel"
    />
    <p class="error-message" *ngIf="!author.valid && author.touched">
      Please insert valid value
    </p>
    <mat-form-field>
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let tag of arrayOfTags"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(tag)"
        >
          {{ tag }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          ngModel
          #tags="ngModel"
          name="tags"
          placeholder="Tags"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
    </mat-form-field>
    <p class="error-message" *ngIf="!tags.valid && tags.touched">
      Please insert valid value
    </p>
    <div class="form__buttons-wrapper">
      <app-button
        type="submit"
        text="submit"
        [disabled]="!formData.valid"
      ></app-button>
      <app-button
        type="button"
        text="cancel"
        (handleClick)="onCancel()"
      ></app-button>
    </div>
  </form>
</div>
